/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

header {
    font-size: larger;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    margin-bottom: 40px;
}

.logo img {
    width: 120px;
    height: auto;
}

.web_group {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.web_group a {
    text-decoration: none;
    color: #fff;
}

.green {
    width: 1px;
    height: 30px;
    background-color: #028673;
    margin: 2px;
}

.Lgin-icon {
    display: flex;
    align-items: center;
}

.Lgin-icon a {
    color: #028673;
    margin: 5px;
}

.Lgin-icon img {
    border: 2px solid #028673;
    width: 50px;
    height: 50px;
}

.mobil_group {
    width: 250px;
    height: 100vh;
    background-color: #028673;
    color: #fff;
    position: fixed;
    top: 0;
    right: -250px;
    z-index: 2;
    transition: right 0.3s;
   
}

nav ul {
    padding: 20px;
}

nav ul li {
    list-style: none;
    margin-top: 20px;
   
}

nav ul li a {
    text-decoration: none;
    color: #fff;
   
}

.minu_icon {
    display: none;
    cursor: pointer;
    z-index: 3;
}

.minu_icon img {
    width: 50px;
    height: 50px;
}

@media (max-width: 568px) {
    .minu_icon {
        display: block;
    }
    .web_group {
        display: none;
    }
} 

.signupp {
    background: url('Sign up-amico.png') no-repeat;
    background-size: contain;
    background-position: left;
    background-attachment: fixed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
    margin-right: 200px;
}

.container h2 {
    color: #028673;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 100px;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: flex;
    justify-content: left;
    font-weight: 400;
}

.form-group input {
    justify-content: left;
    width: 120%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #000000;
    margin-bottom: 0.8em;
}

.btn {
    text-decoration: none;
    background-color: #028673;
    width: 128%;
    padding: 0.5em;
    margin-bottom: 30px;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    text-align: center;
    transition: background-color 0.6s;
}

.btn:hover {
    background-color: #014242;
}

 
 /* Footer styles */
 footer {
    background-color: #303030;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
   
}

.footer_top {
    padding: 50px 0;
}

.footer_top .container2 {
    max-width: 1200px;
    margin: auto;
}

.footer_top h3 {
    color: #fff;
}

.footer_top p {
    color: #aaa;
    text-align: center;
}

.footer_top  .container2 .col-md-4 ul {
    list-style: none;
    padding: 0;
}

.footer_top  .container2 .col-md-4 ul li {
    margin-bottom: 10px;
}

.footer_top  .container2 .col-md-4 ul li a {
    color: #aaa;
    text-decoration: none;
}

.footer_bottom {
    background-color: #202020;
    padding: 20px 0;
}

.footer_bottom p {
    color: #aaa;
    text-align: center;
}

.social_icons {
    list-style: none;
    padding: 0;
}

.social_icons li {
    display: inline-block;
    margin-right: 10px;
}

.social_icons li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}



@media only screen and (max-width: 768px) {
    .contact_form,
    .contact_image  ,.main_page, .about_us,.login_section {
        flex: 0 0 100%; /* Take full width on small screens */
    }
}


