body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(200, 210, 219);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.textBox {
  margin-top: 100px;
}

textarea {
  resize: none;
  width: 700px;
  height: 500px;
  background-color: white;
  color: black;
}

.box {
  width: 700px;
}

.box input {
  width: 100%;
  height: 25px;
  margin-top: 10px;
}

button {
  float: right;
  margin-top: 20px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  margin-right: -8px;
}

.btn1 {
  background-color: rgb(30, 148, 30);
  border: none;
}

.btn1:hover {
  background-color: rgb(7, 95, 7);
}

.btn2 {
  background-color: rgb(206, 73, 73);
  border: none;
}

.btn2:hover {
  background-color: rgb(145, 36, 36);
}
